a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'InterTight';
    src: url('Font/Inter_Tight/InterTight-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'InterTight';
    margin: 0;
    background-color: rgb(18, 41, 67);
    ;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: clamp(4px, 1.6vw, 26px);
    padding: 0;
    margin-top: clamp(-30px, -2vw, -10px);
}

.logo-img {
    height: clamp(50px, 15vw, 300px);
    width: auto;
    display: block;
    margin-left: clamp(-20px, -2vw, -5px);
    flex-shrink: 0;
}

.menu {
    display: flex;
    list-style: none;
    gap: clamp(6px, 2.5vw, 130px);
    margin-left: auto;
    margin-right: clamp(180px, 38vw, 700px);
    padding: 0;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.menu li a {
    display: inline-block;
    padding: clamp(3px, 0.5vw, 10px) clamp(5px, 1vw, 20px);
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
    white-space: nowrap;


}

.menu li a:hover {
    color: rgb(18, 41, 67);
    transform: scale(110%);
    background-color: #f0f0f0;

}

.menu li a.active {
    background-color: #f0f0f0;
    color: rgb(18, 41, 67);
    transform: scale(100%);
}

/* #f0f0f0; */
/* rgb(18, 41, 67); */